@model TestQuestionViewModel
@{
    ViewData["Title"] = "Question Detail";
}

<h4>@ViewData["Title"]</h4>
@*@Html.Partial("_StatusMessage", Model.StatusMessage)*@
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageId">Image Id</label>
                <input asp-for="ImageId" class="form-control" disabled />
                <label asp-for="ImageName">Image Name</label>
                <input asp-for="ImageName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Category"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
                <label asp-for="Id">Question Id</label>
                <input asp-for="Id" class="form-control" disabled />
            </div>
            <button class="btn btn-SaveQuestion" asp-action="SaveQuestion" asp-route-modelId="@Model.Id" asp-route-category="@Model.Category" asp-route-level="@Model.Level" asp-route-imageId="@Model.ImageId">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
