@model IEnumerable<TestQuestionViewModel>
@{
    ViewData["Title"] = $"Question Library (Total {Model.Count()})";
}

<h4>@ViewData["Title"]</h4>
<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<form asp-controller="TestQuestion" asp-action="Index">
    <p>
        Name Filter: <input type="text" name="nameStr">
        <div style="margin-top: 1%"></div>
        Level Filter: <select id="levelFilter" name="levelFilter" class="form-control">    <option>0</option>
    <option>1</option>    <option>2</option>    <option>3</option>    <option>4</option>    <option>5</option>
    <option>6</option>    <option>7</option>    <option>8</option>    <option>9</option>    <option>10</option>
    <option>11</option>    <option>12</option></select>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ObjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
        }
    </tbody>
</table>
