@model WebMathTraining.Models.TestSessionsViewModel

@{
    ViewData["Title"] = "Test Session Details";
}

<h2>Test Session Configuration</h2>

<div>
    <h4>TestSession</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ObjectId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ObjectId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlannedStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlannedStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlannedEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlannedEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group" >
                <label asp-for="RegisteredUsers">Registered Testers:</label>
                <input asp-for="RegisteredUsers" class="form-control" />
                <label asp-for="TestQuestions">Test Questions:</label>
                <input asp-for="TestQuestions" class="form-control" />
                <label asp-for="ScorePoints">Score Points:</label>
                <input asp-for="ScorePoints" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
