@using StoreManager.Models
@using WebMathTraining.Resources
@using WebMathTraining.Services
@model IEnumerable<WebMathTraining.Models.TestSession>
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@inject IAppUserManageService userProfileManager
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = "My Tests";
}

<h2>Available Tests</h2>

@if (signInManager.IsSignedIn(User))
{
    var currentUser = await userManager.GetUserAsync(User);
    var currentUserProfile = await userProfileManager.FindByUserEmail(currentUser?.Email);

    if (currentUser != null)
    {
        <form asp-controller="TestSessions" asp-action="Index">
            <p>
                @*Name Filter: <input type="text" name="nameStr">*@
                <div style="margin-top: 1%"></div>
                Grade Filter: <select id="levelFilter" name="levelFilter" class="form-control" value="3">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
                <input type="submit" value="Filter" />
            </p>
        </form>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TargetGrade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlannedStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SessionTimeSpan)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.LastUpdated)
                    </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderByDescending(s => s.ObjectId))
            {
                var startIdx = currentUserProfile != null && item.IsRegisteredUser(currentUserProfile.ObjectId) ? 0 : -1;
                var isAdmin = currentUser != null  && await userManager.IsInRoleAsync(currentUser, Constants.AdministratorRole);
                var buttonLabel = startIdx >= 0 ? "Start" : "Register";

                <tr>
                    @Html.HiddenFor(modelItem => item.Id)
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TargetGrade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlannedStartLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SessionTime)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.LastUpdatedLocal)
                        </td>*@
                    <td>
                        <a asp-action="TestInstruction" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedHtmlString(buttonLabel)</a>
                        @if (startIdx >= 0)
                        {
                            <a asp-action="TestSessionResult" asp-route-sessionId="@item.Id" asp-route-userId="@(currentUserProfile?.ObjectId ?? 0)" asp-route-userName="@(currentUser?.UserName ?? "")"> | @SharedLocalizer.GetLocalizedHtmlString("Review  Results", "  ")</a>
                        }
                        @if (isAdmin)
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id"> | @SharedLocalizer.GetLocalizedHtmlString("Delete", "  ")</a>
                        }
                        @if (isAdmin)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id"> | @SharedLocalizer.GetLocalizedHtmlString("Edit", "  ")</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}