@model WebMathTraining.Models.TestGroupSummaryViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>Latest Score Ranking -- @Model.SessionName</h2>
    <hr />
    <table class="table">
        <thead>
        <tr>
            <td>Team Name</td>
            <td>User Name</td>
            <td>Continent</td>
            <td>Experience Level</td>
            <td>Test Score</td>
            <td>Last Update</td>
        </tr>
        </thead>
        @foreach (var result in Model.TestResults)
        {
            <tr>
                <td>@Model.TeamName</td>
                <td>@(result.Tester?.UserName ?? "")</td>
                <td>@(result.Tester?.Continent ?? Continents.None)</td>
                <td>@(result.Tester?.ExperienceLevel ?? 0)</td>
                <td>@(result.TestResult?.FinalScore ?? 0.0)</td>
                <td>@(result.TestResult?.TestEnded ?? DateTime.MaxValue)</td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
