@model IEnumerable<WebMathTraining.Models.TestSession>
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Index";
}

<h2>Available Tests -- Watch out the SessionTimeSpan (test time limit in minutes) before starting!</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (signInManager.IsSignedIn(User))
{
    var currentUser = await userManager.GetUserAsync(User);

    var isAdmin = currentUser != null
        && await userManager.IsInRoleAsync(currentUser, Constants.AdministratorRole);

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlannedStart)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SessionTimeSpan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastUpdated)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                  var startIdx = item.IsRegisteredUser(currentUser.ObjectId) ? 0 : -1;
                  var buttonLabel = startIdx >= 0 ? "Start" : "Register";

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlannedStartLocal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SessionTimeSpan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastUpdatedLocal)
                        </td>
                        <td>
                            <a asp-action="TestInstruction" asp-route-id="@item.Id">@buttonLabel</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
}