@model WebMathTraining.Models.TestResultDetailViewModel

@{
    ViewData["Title"] = "Test Result Details";
}

<div>
    <h2>Test Result -- @Model.Tester -- final score @Model.FinalScore out of maximum @Model.MaximumScore</h2>
    <h2>Test Started @Model.StartTime.ToLocalTime() -- Ended @Model.EndTime.ToLocalTime()</h2>
    <hr />
    <table class="table">
        <thead>
        <tr>
            <td>Question Id</td>
            <td>Your Answer</td>
            <td>Score Point</td>
        </tr>
        </thead>
        @foreach (var result in Model.TestResult.TestResults.Items)
        {
        <tr>
            <td>@result.QuestionId</td>
            <td>@(result.Answer)</td>
            <td>@(result.Score)</td>
            <td>
                <a asp-action="ReviewQuestion" asp-route-id="@Model.SessionId" asp-route-questionId="@result.QuestionId" asp-route-userId="@(Model.TestResult?.UserId ?? 0)">Review</a>
            </td>
        </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
